Event Registration Confirmation.blueprint.json
{
    "name": "Event Registration Confirmation",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 11296160,
                "formId": "1nXmxviNEjKKaU0A7-OelBeuy1vXdpGgsfvuMMjixLmw",
                "limit": 3
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (asif.consultech@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "0333211b",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Full Name:"
                            },
                            {
                                "name": "5031d50f",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Father's Name:"
                            },
                            {
                                "name": "3278ff64",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Gender:"
                            },
                            {
                                "name": "46b31aba",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Date of Birth:"
                            },
                            {
                                "name": "1b5261b6",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "City:"
                            },
                            {
                                "name": "363a18cd",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Last Degree:"
                            },
                            {
                                "name": "7eec5321",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Digital Skills, if any?"
                            },
                            {
                                "name": "03645f4d",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "No of years if offering Services:"
                            },
                            {
                                "name": "7756df54",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Phone/WhatsApp Number"
                            },
                            {
                                "name": "78310dea",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email Address"
                            },
                            {
                                "name": "6fa56e82",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Did You score Microsoft Certificate?"
                            },
                            {
                                "name": "4d9ea31f",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Project Link, If any?"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 11296160
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/11TsB-n5te627e1T9UQsktnjpX-zu3Cm-pXnDBEnShBs",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "values": {
                    "0": "{{1.answers.`0333211b`.textAnswers.answers[].value}}",
                    "1": "{{1.answers.`5031d50f`.textAnswers.answers[].value}}",
                    "2": "{{1.answers.`3278ff64`.textAnswers.answers[].value}}",
                    "3": "{{1.answers.`46b31aba`.textAnswers.answers[].value}}",
                    "4": "{{1.answers.`1b5261b6`.textAnswers.answers[].value}}",
                    "5": "{{1.answers.`363a18cd`.textAnswers.answers[].value}}",
                    "6": "{{1.answers.`7eec5321`.textAnswers.answers[].value}}",
                    "7": "{{1.answers.`03645f4d`.textAnswers.answers[].value}}",
                    "8": "{{1.answers.`7756df54`.textAnswers.answers[].value}}",
                    "9": "{{1.answers.`78310dea`.textAnswers.answers[].value}}",
                    "10": "{{1.answers.`6fa56e82`.textAnswers.answers[].value}}",
                    "11": "{{1.answers.`4d9ea31f`.textAnswers.answers[].value}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (asif.consultech@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Learn AI/ML Road Show 2025 Submission Record"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Full Name (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Father's Name (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Gender (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Date of Birth (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "City (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Last Degree (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Digital Skills (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "No of years (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "Phone Number (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Email (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "Certificate (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "Project Link (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "Registration ID (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "QR Code URL (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Full Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Father's Name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Gender (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Date of Birth (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "City (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Last Degree (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Digital Skills (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "No of years (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Phone Number (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Email (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Certificate (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Project Link (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Registration ID (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "QR Code URL (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Registration ID",
                "scope": "roundtrip",
                "value": "Learn Ai-ML-Road Show REG-2025{{2.rowNumber}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Registration ID",
                        "label": "Registration ID",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{3.`Registration ID`}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [],
                "qs": [],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 11637734
            },
            "mapper": {
                "select": "map",
                "filename": "{{Registration_ID}}.png",
                "data": "{{4.data}}",
                "convert": false,
                "folderId": "1xirHoBKFlwohLYbsGkfLGuDIHoI8KRZF"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google Restricted connection (asif.consultech@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "text",
                        "label": "Folder ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 11296160
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/11TsB-n5te627e1T9UQsktnjpX-zu3Cm-pXnDBEnShBs",
                "sheetId": "Sheet1",
                "rowNumber": "{{2.rowNumber}}",
                "includesHeaders": true,
                "values": {}
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (asif.consultech@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Learn AI/ML Road Show 2025 Submission Record"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Full Name (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Father's Name (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Gender (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Date of Birth (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "City (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Last Degree (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Digital Skills (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "No of years (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "Phone Number (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Email (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "Certificate (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "Project Link (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "Registration ID (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "QR Code URL (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Full Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Father's Name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Gender (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Date of Birth (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "City (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Last Degree (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Digital Skills (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "No of years (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Phone Number (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Email (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Certificate (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Project Link (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Registration ID (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "QR Code URL (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13104558
            },
            "mapper": {
                "to": [
                    "{{1.answers.`78310dea`.textAnswers.answers[].value}}"
                ],
                "subject": "Your Registration is Confirmed  Learn AI-ML Road Show 2025",
                "bodyType": "rawHtml",
                "content": "<div style=\"font-family: Arial, sans-serif; max-width: 650px; margin: auto; padding: 20px; background: #f9f9f9; border-radius: 10px;\">\r\n    \r\n    <!-- Header -->\r\n    <div style=\"text-align: center; padding-bottom: 20px;\">\r\n        <h2 style=\"margin: 0; color: #2A4FF0;\">Learn AIML Road Show 2025</h2>\r\n        <p style=\"margin: 5px 0; font-size: 14px; color: #555;\">Expo Center Multan</p>\r\n    </div>\r\n\r\n    <!-- Greeting -->\r\n    <p>Hello <strong>{{1.answers.`0333211b`.textAnswers.answers[].value}}</strong>,</p>\r\n\r\n    <p>Thank you for registering for the <strong>Learn AIML Road Show 2025</strong>. Your registration has been successfully received and confirmed.</p>\r\n\r\n    <!-- Registration ID -->\r\n    <div style=\"padding: 15px; background: #ffffff; border-left: 4px solid #2A4FF0; margin: 20px 0; border-radius: 4px;\">\r\n        <p style=\"margin: 0; font-size: 16px; color: #333;\">\r\n            <strong>Your Registration ID:</strong><br>\r\n            <span style=\"font-size: 20px; color: #2A4FF0;\">{{3.`Registration ID`}}</span>\r\n        </p>\r\n    </div>\r\n\r\n    <!-- QR Code -->\r\n    <p>Please show the following QR Code at the entrance for quick verification:</p>\r\n\r\n    <div style=\"text-align: center; margin: 20px 0;\">\r\n        <img src=\"{{5.webViewLink}}\" alt=\"QR Code\" width=\"180\" style=\"border: 6px solid #eee; border-radius: 10px;\">\r\n    </div>\r\n\r\n    <!-- Button -->\r\n    <div style=\"text-align: center; margin-bottom: 30px;\">\r\n        <a href=\"{{5.webViewLink}}\" target=\"_blank\" \r\n        style=\"background: #2A4FF0; color: white; padding: 12px 18px; text-decoration: none; border-radius: 6px; font-size: 14px;\">\r\n            View QR Code\r\n        </a>\r\n    </div>\r\n\r\n    <!-- Event Details -->\r\n    <h3 style=\"color: #2A4FF0;\">Event Details</h3>\r\n    <p style=\"font-size: 15px; color: #333;\">\r\n        <strong>Date:</strong> 30 Dec 2025<br>\r\n        <strong>Time:</strong> 10:00 AM to 4:00 PM<br>\r\n        <strong>Venue:</strong> BZU Multan<br>\r\n        <strong>Hall:</strong> A1\r\n    </p>\r\n\r\n    <!-- Instructions -->\r\n    <p style=\"padding: 15px; background: #fff5d1; border-radius: 6px; color: #664c00; margin: 20px 0;\">\r\n        Please keep this email and your QR code safe. It will be required for entry at the event.\r\n    </p>\r\n\r\n    <!-- Footer -->\r\n    <p>If you have any questions, feel free to reply to this email.</p>\r\n\r\n    <p style=\"margin-top: 30px;\">Best regards,<br>\r\n    <strong>Registration Team</strong><br>\r\n    Learn AIML Road Show 2025</p>\r\n\r\n</div>\r\n"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": false,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}